<a href="/manager"
    class="list-group-item list-group-item-action bg-transparent second-text fw-bold {% if active_page == 'dashboard' %}active text-primary{% endif %}">
    <i class="fas fa-tachometer-alt me-2"></i>Dashboard
</a>

<a href="/analytics"
    class="list-group-item list-group-item-action bg-transparent second-text fw-bold {% if active_page == 'analytics' %}active text-primary{% endif %}">
    <i class="fas fa-chart-pie me-2"></i>Analytics & Chat
</a>

<a href="/settings"
    class="list-group-item list-group-item-action bg-transparent second-text fw-bold {% if active_page == 'settings' %}active text-primary{% endif %}">
    <i class="fas fa-user-cog me-2"></i>My Profile
</a>