<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock%}</title>
    <link rel="icon" href="/static/images/SFA_logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block sheet %}{% endblock %}
</head>

<body>
    <div class="layout">
        <nav class="nav" id="nav">
            <div class="nav-header">
                <div class="logo">
                    <a id="home_link">
                        <img src="/static/images/SFA_logo.png" alt="SFA Logo" width="80" height="80"
                            style="border-radius: 50%;">
                    </a>
                </div>
                <!-- <div class="logo-label">SFA</div> -->
                <div class="username-tag" id="username_tag">noName</div>
            </div>
            <div class="nav-body">
                <div id="dynamic_nav" class="nav-body"></div>
                <a href="/analytics ">Analytics</a>
                <a href="/profile">Profile</a>
            </div>
        </nav>
        <div class="wrapper">
            <main class="main" id="main">
                {% block main %}{% endblock %}
            </main>

            <footer class="footer">
                @2026
            </footer>
        </div>
    </div>

    <div id="global_confirm_modal" class="modal">
        <div class="modal-content card">
            <h3 class="card-title" id="confirm_title">Confirm Deletion</h3>
            <hr>
            <p id="confirm_message"></p>
            <div class="modal-actions">
                <button type="button" id="confirm_cancel_btn" class="cancel-button">Cancel</button>
                <button type="button" id="confirm_action_btn" class="delete-button">Delete</button>
            </div>
        </div>
    </div>

    <div id="generic_form_modal_skeleton" class="modal">
        <div class="modal-content card">
            <h3 class="card-title">Add / Update Form Skeleton</h3>
            <hr>
            <form>
                <div class="modal-actions">
                    <button type="button" class="cancel-button">Cancel</button>
                    <button type="submit" class="submit-button">Save</button>
                </div>
            </form>
        </div>
    </div>

    <div id="toast_notification" class="toast">
        <span id="toast_message">Message goes here</span>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
<script type="module" src="/static/js/base.js"></script>
{% block script%}{% endblock %}

</html>