<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFA - Login</title>
    <link rel="icon" href="/static/images/SFA_logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>

    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="card" style="width: 24rem;">
            <div class="card-body">

                <div class="card-header d-flex justify-content-space-between">
                    <div class="login" style="margin-right: 25%;">
                        <h3>Login</h3>
                    </div>
                    <div class="sign-up" style="margin-left: 25%;">
                        <h3>SignUp</h3>
                    </div>
                </div>

                <hr>

                <form class="login-body" id="login_body" style="display: block;">

                    <label for="login_username" class="mb-1">Username:</label>
                    <br>
                    <input type="text" id="login_username" name="login_username" placeholder="username" minlength="3"
                        maxlength="30" required>
                    <br>

                    <label for="login_password" class="mb-1 mt-4">Password:</label>
                    <br>
                    <input type="password" id="login_password" name="login_password" placeholder="password"
                        minlength="8" maxlength="128" required>
                    <br>

                    <br>
                    <div class="login-button">
                        <button type="submit">Login</button>
                    </div>

                </form>


                <form class="sign-up-body" id="sign_up_body" style="display: none;">

                    <label for="signup_username" class="mb-1">Username:</label>
                    <br>
                    <input type="text" id="signup_username" name="signup_username" placeholder="username" minlength="3"
                        maxlength="30" required>
                    <br>

                    <label for="signup_email" class="mb-1">Email:</label>
                    <br>
                    <input type="email" id="signup_email" name="signup_email" placeholder="email" minlength="5"
                        maxlength="254" required>
                    <br>

                    <label for="signup_password" class="mb-1 mt-4">Password:</label>
                    <br>
                    <input type="password" id="signup_password" name="signup_password" placeholder="password"
                        minlength="8" maxlength="128" required>
                    <br>

                    <label for="company_name" class="mb-1 mt-4">Company Name:</label>
                    <br>
                    <input type="text" id="company_name" name="company_name" placeholder="company name" minlength="2"
                        maxlength="100" required>
                    <br>

                    <br>
                    <div class="sign-up-button">
                        <button type="submit">SignUp</button>
                    </div>

                </form>

                <br>

                <p class="error-message" id="error_message" style="color: crimson;">
                    error
                </p>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script type="module" src="/static/js/base.js"></script>
    <script type="module" src="/static/js/login.js"></script>
</body>

</html>