{% extends "base.html" %}

{% block sheet %}
<link rel="stylesheet" href="/static/css/users.css">
{% endblock %}

{% block nav_list %}
{% include "/partials/_sidebar_superadmin.html" %}
{{ super() }}
{% endblock %}

{% block main %}
<div class="container">
    <div class="header-actions">
        <h2 class="page-title">Users</h2>
    </div>

    <div class="card mt-20">
        <table class="simple-table" id="users_table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Company ID</th>
                    <th>Status</th>
                    <th>Last Login</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody id="users_table_body">
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="module" src="/static/js/users.js"></script>
{% endblock %}
